## Imports

In [7]:
import pandas as pd
import numpy as np
import re
import requests
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

load_dotenv()

AWSDBHOST = os.getenv("AWSDBHOST")
AWSDBUSER = os.getenv("AWSDBUSER")
AWSDBPASS = os.getenv("AWSDBPASS")
AWSDBNAME = os.getenv("AWSDBNAME")

## Extraction

In [8]:
engine = create_engine(f"mysql+pymysql://{AWSDBUSER}:{AWSDBPASS}@{AWSDBHOST}/{AWSDBNAME}", echo=True)

In [9]:
query = text("SELECT * FROM address ")
df_address = pd.read_sql(query, engine)

df_address

2022-05-18 22:58:01,027 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-05-18 22:58:01,028 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 22:58:01,052 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-05-18 22:58:01,053 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 22:58:01,063 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-05-18 22:58:01,064 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 22:58:01,104 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-05-18 22:58:01,104 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {'table_schema': 'dataengineer', 'table_name': 'SELECT * FROM address '}
2022-05-18 22:58:01,127 INFO sqlalchemy.engine.Engine SELECT * FROM address
2022-05-18 22:58:01,127 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {}

     address_id                  address                  city postal_code
0             1     318 CHE DE ROUMAGOUA             LA CIOTAT       13600
1             2         19 RUE DES DAMES         SAINTE SAVINE       10300
2             3  22 RUE AMIRAL GUEPRATTE            LE CONQUET       29217
3             4          6 BD DES ETINES             LE COTEAU       42120
4             5      35 AV DU 159EME RIA              BRIANCON        5100
..          ...                      ...                   ...         ...
557         601              20 RUE COLI             MONTREUIL       93100
558         602         6 AV JEAN JAURES                 FEURS       42110
559         603     1 RUE HENRI RENAUDIN  CHARLEVILLE-MEZIERES        8000
560         604            2 RUE DE LYON      EPINAY SUR SEINE       93800
561         605        4 RUE DENIS PAPIN                 BLAIN       44130

[562 rows x 4 columns]

## Transformation

In [10]:
df_address['postal_code'] = df_address['postal_code'].astype(str).apply(lambda x: x.zfill(5))
df_address['city'] = df_address['city'].apply(lambda x: re.sub('\s\d+EME', '', x)).apply(lambda x: re.sub('\s\d+', '', x))
df_address

     address_id                  address                  city postal_code
0             1     318 CHE DE ROUMAGOUA             LA CIOTAT       13600
1             2         19 RUE DES DAMES         SAINTE SAVINE       10300
2             3  22 RUE AMIRAL GUEPRATTE            LE CONQUET       29217
3             4          6 BD DES ETINES             LE COTEAU       42120
4             5      35 AV DU 159EME RIA              BRIANCON       05100
..          ...                      ...                   ...         ...
557         601              20 RUE COLI             MONTREUIL       93100
558         602         6 AV JEAN JAURES                 FEURS       42110
559         603     1 RUE HENRI RENAUDIN  CHARLEVILLE-MEZIERES       08000
560         604            2 RUE DE LYON      EPINAY SUR SEINE       93800
561         605        4 RUE DENIS PAPIN                 BLAIN       44130

[562 rows x 4 columns]

In [11]:
lat_dict = {}
lon_dict = {}

for i in df_address.itertuples():
    index_num = i.address_id
    street = i.address
    city = i.city
    postalcode = i.postal_code
    try:
        r = requests.get(f"https://nominatim.openstreetmap.org/search?city={city}&street={street}&postalcode={postalcode}&format=json").json()
        lat_dict[index_num] = (r[0]['lat'])        
        lon_dict[index_num] = (r[0]['lon'])
    except IndexError:
        try:
            r = requests.get(f"https://nominatim.openstreetmap.org/search?city={city}&postalcode={postalcode}&format=json").json()
            lat_dict[index_num] = (r[0]['lat'])        
            lon_dict[index_num] = (r[0]['lon'])
        except:
            r = requests.get(f"https://nominatim.openstreetmap.org/search?postalcode={postalcode}&format=json").json()
            lat_dict[index_num] = (r[0]['lat'])        
            lon_dict[index_num] = (r[0]['lon'])

df_address['latitude'] = df_address['address_id'].map(lat_dict).astype(float)
df_address['longitude'] = df_address['address_id'].map(lon_dict).astype(float)

df_address

,address_id,address,city,postal_code,latitude,longitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,43.200998,5.605799
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,48.290905,4.045789
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,48.361340,-4.766800
3,4,6 BD DES ETINES,LE COTEAU,42120,46.021659,4.092120
4,5,35 AV DU 159EME RIA,BRIANCON,05100,44.898404,6.643631
...,...,...,...,...,...,...
557,601,20 RUE COLI,MONTREUIL,93100,48.868459,2.468415
558,602,6 AV JEAN JAURES,FEURS,42110,45.743563,4.226839
559,603,1 RUE HENRI RENAUDIN,CHARLEVILLE-MEZIERES,08000,49.773546,4.708829
560,604,2 RUE DE LYON,EPINAY SUR SEINE,93800,48.953836,2.292919
561,605,4 RUE DENIS PAPIN,BLAIN,44130,47.482766,-1.747235

## Loading

In [12]:
query = "ALTER TABLE address ADD latitude FLOAT, ADD longitude FLOAT;"
with engine.connect() as con:
    con.execute(query)

2022-05-18 23:03:17,790 INFO sqlalchemy.engine.Engine ALTER TABLE address ADD latitude FLOAT, ADD longitude FLOAT;
2022-05-18 23:03:17,793 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:17,833 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
for i in lat_dict.keys():
    query = f"UPDATE address SET latitude = {lat_dict.get(i)}, longitude = {lon_dict.get(i)} WHERE address_id = {i}"
    with engine.connect() as con:
        con.execute(query)

2022-05-18 23:03:17,885 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.2009979, longitude = 5.6057988 WHERE address_id = 1
2022-05-18 23:03:17,886 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:17,898 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:17,921 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.2909051, longitude = 4.0457894 WHERE address_id = 2
2022-05-18 23:03:17,921 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:17,942 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:17,970 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.3613399, longitude = -4.7667997 WHERE address_id = 3
2022-05-18 23:03:17,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:17,982 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,010 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 46.021659, longitude = 4.0921204 WHERE address_id = 4
2022-05-18 23:03:18,010 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,021 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,046 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 44.8984037, longitude = 6.6436313 WHERE address_id = 5
2022-05-18 23:03:18,046 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,059 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,084 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 50.2731305, longitude = 3.1388067 WHERE address_id = 6
2022-05-18 23:03:18,085 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,096 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,121 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.2397497, longitude = 5.8192084 WHERE address_id = 7
2022-05-18 23:03:18,122 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,135 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,162 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.9129683, longitude = 2.293793 WHERE address_id = 8
2022-05-18 23:03:18,162 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,173 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,200 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.9021153, longitude = 1.897363 WHERE address_id = 9
2022-05-18 23:03:18,201 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,212 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,238 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.8805723, longitude = 2.2581473 WHERE address_id = 10
2022-05-18 23:03:18,238 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,249 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,276 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.8512237, longitude = 4.5833115 WHERE address_id = 11
2022-05-18 23:03:18,277 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,288 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,312 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.9156735, longitude = -0.7415346 WHERE address_id = 12
2022-05-18 23:03:18,312 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,322 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,346 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.0397009, longitude = -1.7032269 WHERE address_id = 13
2022-05-18 23:03:18,346 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,358 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,386 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.7653617, longitude = 4.8671949 WHERE address_id = 14
2022-05-18 23:03:18,386 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,397 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,428 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 46.4821093, longitude = -0.119785 WHERE address_id = 15
2022-05-18 23:03:18,428 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,442 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,468 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.8237978, longitude = 2.3025453 WHERE address_id = 16
2022-05-18 23:03:18,468 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,479 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,505 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.2733517, longitude = -2.2138905 WHERE address_id = 17
2022-05-18 23:03:18,506 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,518 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,546 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.7279135, longitude = 1.3673784 WHERE address_id = 19
2022-05-18 23:03:18,546 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,557 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,585 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 46.906282, longitude = 5.389655 WHERE address_id = 20
2022-05-18 23:03:18,585 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,596 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,620 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.7954117, longitude = 3.0881729 WHERE address_id = 21
2022-05-18 23:03:18,621 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,631 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,656 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.9083291, longitude = 2.2428327 WHERE address_id = 22
2022-05-18 23:03:18,656 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,668 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,693 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 44.841225, longitude = -0.5800364 WHERE address_id = 23
2022-05-18 23:03:18,694 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,704 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,731 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.384355, longitude = 0.153153 WHERE address_id = 24
2022-05-18 23:03:18,731 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,742 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,768 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 49.0712497, longitude = 2.3093476 WHERE address_id = 25
2022-05-18 23:03:18,769 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,780 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,803 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.7854618, longitude = 3.1040681 WHERE address_id = 26
2022-05-18 23:03:18,804 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,815 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,844 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.6126624, longitude = 1.422247 WHERE address_id = 28
2022-05-18 23:03:18,844 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,855 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,882 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.2574075, longitude = 5.3849264 WHERE address_id = 29
2022-05-18 23:03:18,882 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,892 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,917 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 50.528644, longitude = 2.629561 WHERE address_id = 30
2022-05-18 23:03:18,918 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,931 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,956 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.9240055, longitude = 2.4626731 WHERE address_id = 31
2022-05-18 23:03:18,957 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:18,968 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:18,993 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 44.8454692, longitude = -0.5799998 WHERE address_id = 32
2022-05-18 23:03:18,993 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,004 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,030 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.6969524, longitude = 6.1898269 WHERE address_id = 33
2022-05-18 23:03:19,030 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,041 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,066 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.695131, longitude = 5.0297213 WHERE address_id = 34
2022-05-18 23:03:19,073 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,084 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,110 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.5416866, longitude = 6.4611834 WHERE address_id = 36
2022-05-18 23:03:19,110 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,121 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,145 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 18.085493, longitude = -63.05129209796061 WHERE address_id = 37
2022-05-18 23:03:19,146 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,156 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,183 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 44.8409066, longitude = -0.6127927 WHERE address_id = 38
2022-05-18 23:03:19,183 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,194 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,218 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.6055754, longitude = 2.4310508 WHERE address_id = 39
2022-05-18 23:03:19,219 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,230 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,254 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 46.1706874, longitude = -1.1557555 WHERE address_id = 40
2022-05-18 23:03:19,254 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,265 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,290 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 44.4554633, longitude = 4.3437187 WHERE address_id = 41
2022-05-18 23:03:19,290 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,300 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,325 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.4250858, longitude = 3.0124959 WHERE address_id = 42
2022-05-18 23:03:19,326 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,337 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,361 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 49.4440835, longitude = 1.089888 WHERE address_id = 43
2022-05-18 23:03:19,361 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,371 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,397 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.0690713, longitude = -0.8726905 WHERE address_id = 44
2022-05-18 23:03:19,398 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,409 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,433 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 49.6307735, longitude = 2.3049089 WHERE address_id = 45
2022-05-18 23:03:19,434 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,446 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,476 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.0929508, longitude = -0.0508652 WHERE address_id = 46
2022-05-18 23:03:19,477 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,489 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,511 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.987857, longitude = 0.2112084 WHERE address_id = 47
2022-05-18 23:03:19,511 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,521 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,544 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.6825885, longitude = 2.1652649 WHERE address_id = 48
2022-05-18 23:03:19,545 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,556 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,582 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 42.7171513, longitude = 1.8405635 WHERE address_id = 49
2022-05-18 23:03:19,582 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,593 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,620 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 46.7323014, longitude = 0.4281665 WHERE address_id = 50
2022-05-18 23:03:19,620 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,631 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,658 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 50.7325097, longitude = 2.7366174 WHERE address_id = 52
2022-05-18 23:03:19,659 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,671 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,696 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.9105948, longitude = 2.2890454 WHERE address_id = 53
2022-05-18 23:03:19,696 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,707 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,734 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.8935367, longitude = 2.3755104 WHERE address_id = 54
2022-05-18 23:03:19,734 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,745 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,770 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 50.2551806, longitude = 3.9953061 WHERE address_id = 55
2022-05-18 23:03:19,771 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,782 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,807 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.5628207, longitude = 7.0682596 WHERE address_id = 56
2022-05-18 23:03:19,807 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,818 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,843 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.3411404, longitude = 3.2640016 WHERE address_id = 57
2022-05-18 23:03:19,844 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,854 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,880 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.5651701, longitude = 7.0209477 WHERE address_id = 58
2022-05-18 23:03:19,880 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,891 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,916 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.8414248, longitude = 2.3175498 WHERE address_id = 59
2022-05-18 23:03:19,916 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,927 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,953 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.7493005, longitude = 4.799906 WHERE address_id = 60
2022-05-18 23:03:19,954 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:19,965 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:19,991 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 49.4899306, longitude = 0.1417104 WHERE address_id = 62
2022-05-18 23:03:19,991 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,002 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,028 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.1984211, longitude = 4.7760961 WHERE address_id = 63
2022-05-18 23:03:20,029 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,039 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,063 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.7542686, longitude = -3.3635225 WHERE address_id = 64
2022-05-18 23:03:20,063 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,074 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,104 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.3389995, longitude = 5.3922647 WHERE address_id = 65
2022-05-18 23:03:20,105 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,116 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,141 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.7574478, longitude = 2.409883 WHERE address_id = 66
2022-05-18 23:03:20,141 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,152 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,179 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.800531, longitude = 2.368934 WHERE address_id = 67
2022-05-18 23:03:20,179 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,190 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,216 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 43.9277552, longitude = 2.147899 WHERE address_id = 68
2022-05-18 23:03:20,217 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,227 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,259 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 50.6407385, longitude = 3.0214347 WHERE address_id = 69
2022-05-18 23:03:20,260 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,271 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,298 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.5127728, longitude = -2.7620628 WHERE address_id = 70
2022-05-18 23:03:20,298 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,310 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,334 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.8317492, longitude = 2.3364495 WHERE address_id = 71
2022-05-18 23:03:20,334 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,345 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,367 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 49.4996997, longitude = 0.1394552 WHERE address_id = 72
2022-05-18 23:03:20,368 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,379 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,405 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.9145397, longitude = 2.5327611 WHERE address_id = 74
2022-05-18 23:03:20,405 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,416 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,442 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 46.1056369, longitude = 3.4441524329225883 WHERE address_id = 75
2022-05-18 23:03:20,442 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,454 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,482 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.2802644, longitude = 2.6985742 WHERE address_id = 76
2022-05-18 23:03:20,483 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,494 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,519 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 45.0474496, longitude = 5.0449352 WHERE address_id = 77
2022-05-18 23:03:20,520 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,533 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,558 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 44.658686, longitude = -1.168735 WHERE address_id = 78
2022-05-18 23:03:20,559 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,568 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,594 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 49.1398295, longitude = -0.504876 WHERE address_id = 79
2022-05-18 23:03:20,595 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,606 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,632 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 47.8000294, longitude = 3.5651998 WHERE address_id = 80
2022-05-18 23:03:20,633 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-18 23:03:20,644 INFO sqlalchemy.engine.Engine COMMIT
2022-05-18 23:03:20,668 INFO sqlalchemy.engine.Engine UPDATE address SET latitude = 48.9494889, longitude = 2.6004877 WHERE address_id = 81

In [14]:
df_final = pd.read_sql("SELECT * FROM address", engine)
df_final

2022-05-18 23:03:39,376 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-05-18 23:03:39,377 INFO sqlalchemy.engine.Engine [cached since 338.3s ago] {'table_schema': 'dataengineer', 'table_name': 'SELECT * FROM address'}
2022-05-18 23:03:39,400 INFO sqlalchemy.engine.Engine SELECT * FROM address
2022-05-18 23:03:39,400 INFO sqlalchemy.engine.Engine [raw sql] {}

,address_id,address,city,postal_code,latitude,longitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,43.2010,5.60580
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,48.2909,4.04579
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,48.3613,-4.76680
3,4,6 BD DES ETINES,LE COTEAU,42120,46.0217,4.09212
4,5,35 AV DU 159EME RIA,BRIANCON,5100,44.8984,6.64363
...,...,...,...,...,...,...
557,601,20 RUE COLI,MONTREUIL,93100,48.8685,2.46842
558,602,6 AV JEAN JAURES,FEURS,42110,45.7436,4.22684
559,603,1 RUE HENRI RENAUDIN,CHARLEVILLE-MEZIERES,8000,49.7735,4.70883
560,604,2 RUE DE LYON,EPINAY SUR SEINE,93800,48.9538,2.29292
561,605,4 RUE DENIS PAPIN,BLAIN,44130,47.4828,-1.74724

## SQL Query

In [16]:
query = """
SELECT c.last_name, c.first_name, a.address, a.city, a.postal_code, a.latitude, a.longitude, COUNT(r.rental_id) AS total_rentals
FROM rental r
JOIN customer c on c.customer_id=r.customer_id
JOIN address a on a.address_id=c.address_id
GROUP BY r.customer_id
ORDER BY total_rentals DESC
LIMIT 1
"""

df_bernardo = pd.read_sql(query, engine)
df_bernardo

2022-05-18 23:24:55,133 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-05-18 23:24:55,134 INFO sqlalchemy.engine.Engine [cached since 1614s ago] {'table_schema': 'dataengineer', 'table_name': '\nSELECT c.last_name, c.first_name, a.address, a.city, a.postal_code, a.latitude, a.longitude, COUNT(r.rental_id) AS total_rentals\nFROM rental r\nJO ... (4 characters truncated) ... ustomer c on c.customer_id=r.customer_id\nJOIN address a on a.address_id=c.address_id\nGROUP BY r.customer_id\nORDER BY total_rentals DESC\nLIMIT 1\n'}
2022-05-18 23:24:55,157 INFO sqlalchemy.engine.Engine
SELECT c.last_name, c.first_name, a.address, a.city, a.postal_code, a.latitude, a.longitude, COUNT(r.rental_id) AS total_rentals
FROM rental r
JOIN customer c on c.customer_id=r.customer_id
JOIN address a on a.address_id=c.address_id
GROUP BY r.customer_id
ORDER BY total_rentals DESC
LIMIT 1

2022-05-18 23:24:55,158 INFO sqlalchemy.engine.Engine [raw sql] {}

,last_name,first_name,address,city,postal_code,latitude,longitude,total_rentals
0,HUNT,ELEANOR,17 IMP DES JARDINS,VALLEIRY,74520,46.1068,5.96634,46